div {
    font-family: "Courier";
    text-align: center;
}

.todo-item-wrapper {
    padding: 20px;
}

.completed-class {
    text-decoration: line-through;
}

.not-completed-class {
    text-decoration: none;
}

.delete-button-class {
    display: inline;
    padding: 0px;
    text-align: center;
    width: 60px;
    height: 20px;
    background-color: white;
    border-radius: 5px;
    border-color: white;
    font-family: "Courier";
}

.complete-checkbox-class {
    display: inline;
}

h2 {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}